

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-panel main-panel-margin">


    <div class="bar">







        <center><h6 style="color:#878787;">Cleared Payments</h6></center>

        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 1em 2em 8em 2em">
            <table class="responsive" style="width: 100%;">
                <tr style="border-bottom: 1px solid;border-color: #DCDCDC;">

                    <th id="paymenttable">InvoiceID</th>

                    <th id="paymenttable">DATE</th>

                    <th id="paymenttable">USERNAME</th>

                    <th id="paymenttable">TRAFFIC</th>
                    <th id="paymenttable">AMOUNT</th>
                    <th id="paymenttable">STATUS</th>

                </tr>
                <tr ng-repeat="h in payment | orderBy: payment_date :true ">

                    <td id="paymenttable">{{h.invoice_id}}</td>

                    <td id="paymenttable">{{h.payment_date | date: "fullDate"}}</td>

                    <td id="paymenttable">{{h.username}}</td>

                    <td id="paymenttable">{{h.traffic}}</td>

                    <td id="paymenttable">{{h.amount}}</td>

                    <td id="paymenttable">{{h.status}}</td>
                    

                </tr>

            </table>

        </div>


    </div>

    </div>





<script type="text/ng-template" id="confirmmessage.tmpl.html">




    <md-dialog aria-label="Confirm Message" class="modal-dialog" style="width: 800px;">

        <!-- Modal content-->
        <!-- Modal content-->
        <div class="modal-content" style="height: 16em;border-radius: 0;">
            <div class="modal-header" style="border-bottom: 0">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>

            </div>
            <div class="modal-body" style="padding: 2em 0em;">
                <center><i class="fa fa-check" aria-hidden="true" style="color:#34c9ff;font-size: 18pt "></i></center>
                <p style="color: #34c9ff;font-size: 14pt"> Clearing This Payment? </p>
                <center>
                    <p style="font-size: 10pt;font-family: lato-regular;word-spacing: 2px;margin-top: 1em;">{{Response}}</p>
                </center>
                <div>
                    <button type="button" class=" btn-md btn-link" style="font-family: lato-regular;color:#34c9ff;margin-left: 34%;font-size: 8pt " ng-click="cancel()">CANCEL</button>
                    <button type="button" style=" border: none; border-radius: 8px; background-color: #34c9ff;color: #fff;  width: 13em;height: 31px;font-size: 8pt;margin-top: 1em;margin-left: 6%" ng-click="answer()">Confirm</button>
                </div>
            </div>

        </div>
    </md-dialog>

</script>
